node_modules
.vscode
out/
anilist.json
drstone logo.jpg
gunma_logo.jpg
iseleve_logo.jpg
main-linux
main-macos
oshinoko_logo.jpg
results.json
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][88475DB7].mkv
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][HEVC][Multiple Subtitle][25B4A0BF].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][4C364691].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][HEVC][Multiple Subtitle][7003B8C9].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][Multiple Subtitle][D4A36DFE].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][8E56141E].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][HEVC][Multiple Subtitle][2A632986].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][Multiple Subtitle][5060FB97].mkv
[OnK]/[Erai-raws] Oshi no Ko - 04 [1080p][41E81EC5].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 02 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 03 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 05 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve 04 - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_01_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_02_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_03_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_04_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_05_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_06_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_07_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_08_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_09_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_10_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_11_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_12_(Dual Audio_10bit_BD1080p_x265).mkv
anilist.json
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][88475DB7].mkv
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][HEVC][Multiple Subtitle][25B4A0BF].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][4C364691].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][HEVC][Multiple Subtitle][7003B8C9].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][Multiple Subtitle][D4A36DFE].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][8E56141E].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][HEVC][Multiple Subtitle][2A632986].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][Multiple Subtitle][5060FB97].mkv
[OnK]/[Erai-raws] Oshi no Ko - 04 [1080p][41E81EC5].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 02 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 03 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 05 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve 04 - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_01_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_02_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_03_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_04_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_05_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_06_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_07_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_08_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_09_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_10_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_11_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_12_(Dual Audio_10bit_BD1080p_x265).mkv
anilist.json
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][88475DB7].mkv
[OnK]/[Erai-raws] Oshi no Ko - 01 [1080p][HEVC][Multiple Subtitle][25B4A0BF].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][4C364691].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][HEVC][Multiple Subtitle][7003B8C9].mkv
[OnK]/[Erai-raws] Oshi no Ko - 02 [1080p][Multiple Subtitle][D4A36DFE].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][8E56141E].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][HEVC][Multiple Subtitle][2A632986].mkv
[OnK]/[Erai-raws] Oshi no Ko - 03 [1080p][Multiple Subtitle][5060FB97].mkv
[OnK]/[Erai-raws] Oshi no Ko - 04 [1080p][41E81EC5].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 02 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 03 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve - Isekai de Cheat Skill 05 [1080p][AV1][multisub].mkv
Isekai de Cheat Skill/[Breeze] Iseleve 04 - Isekai de Cheat Skill [1080p][AV1][multisub].mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_01_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_02_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_03_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_04_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_05_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_06_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_07_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_08_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_09_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_10_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_11_(Dual Audio_10bit_BD1080p_x265).mkv
Spy x Family [BD]/[Cleo]Spy_x_Family_-_12_(Dual Audio_10bit_BD1080p_x265).mkv
*.json
