
html, body{
    -ms-overflow-style: none;
    background-color: #11151C;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow:hidden;
    font-family: sans-serif
}

#menu {
    display: inline-block;
    
    background-color: #364156;
    height: 100%;
    min-height: 100%;
    width: 200px;
    min-width: 250px;
    max-width: 250px;
    padding-left: 0;
    overflow:hidden;

}

#logo {
    background-color: #212d40;
    width: 100%;
    min-width: 100%;
    min-height: 45px;
    height: 45px;
    
}

#anilist {
    background-color: #364156;
    height: 90%;
    min-width:100%;
    overflow-y: scroll;
}

#bottombar {
    position: fixed;
    background-color: #212d40;
    width: 100%;
    min-width: 100%;
    min-height: 45px;
    height: 5%;
    bottom: 0;
}

#logo div{
    float:right;
}

#menubutton {
    all: unset;
    width:100%;
    height:50px;
    background-color: #2F2F2F;
    border: 1px solid #11151C;
    text-align:center;
}
#menubutton:hover, #menubutton:focus{
    background-color: #364156;
}

#anilist::-webkit-scrollbar{
    display: none;
}

#content {
    margin-left: 25px;
    display: inline-block;
    width:80%;
    background-color: #11151C;
    height:90%;
    min-width:70%;
    min-height:90%;
    position:absolute;
    overflow:auto;
}

#deletebutton {
    float: right;
    position: fixed;
    right: 0;
    margin-right: 50px;
    margin-top: 5px;
    height: 40px;
}

#animesettingsbutton {
    float:right;
    position: fixed;
    right: 0;
    margin-right: 100px;
    margin-top: 5px;
    height: 40px;
}

#downloadbutton {
    float:right;
    position: fixed;
    right: 0;
    margin-top: 5px;
    height: 40px;
    
}

#closeepanel {
    float:right;
    height:2%;
    margin: 10px;
}

#deleteepisode {
    float:left;
    height:5%;
    margin: 4px;
}

#episodepanel {
    width:20%;
    float: right;
    position:relative;
    height:100%;
    min-height:100%;
    background-color: #2F2F2F;
    display:none;
    padding: 25px;
}

#content::-webkit-scrollbar{
    width:20px;
    color:#364156;
}

content::-webkit-scrollbar-track {
    background: #364156;
}

::-webkit-scrollbar-thumb {
    background: #2F2F2F;
}

#textbox{
    width: 250px;
    height: 25px;
    border: 1px #2F2F2F solid;
    background-color: #364156;
    margin-bottom: 5px;
    display: block;
}

#textbox:hover, #textbox:focus{
    background-color: #616f9e
}

input::-webkit-file-upload-button{
    width: 250px;
    height: 25px;
    border: 1px #2F2F2F solid;
    background-color: #364156;
    margin-bottom: 5px;
    display: block;
}
input::-webkit-file-upload-button:hover, input::-webkit-file-upload-button:focus{
    background-color: #616f9e;
}

#episodebox {
    height: 330px;
    width: 250px;
    background-color: #212d40;
    float: left;
    margin-top: 75px;
    margin-left: 25px;
    text-align: center;
    padding: 10px;
}

#episodebox:hover{
    background-color: #616f9e;
}

#episode{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    padding: 10px;
}

#lastupdated { 
    float:left;
    margin: 4px;
}